// buttons
// --------------------------------------------------

input[type=button]:hover, input[type=reset]:hover, input[type=submit]:hover, button:hover {
    border-color: $btn-bg-hover;
    background-color: $btn-bg-hover;
}
input[type=button], input[type=reset], input[type=submit], button {
    min-width: 10px;
    padding: $btn-padding;
    border: $btn-border;
    background-color: $btn-bg;
    margin-#{$right}: 0;
    font-family: $font-family;
    font-size: inherit;
    color: $btn-color;
	&.btn-default{
		@extend .btn-default;
	}
	&.btn-default{
		@extend .btn-default;
	}
	&.btn-secondary{
		@extend .btn-secondary;
	}
	&.btn-cancel{
		@extend .btn-cancel;
	}
	&.btn-block{
		@extend .btn-block;
	}
	&.btn-withicon{
		@extend .btn-withicon;
	}
}
.btn {
	border: $btn-border;
    border-radius: $btn-radius;
    display: inline-block;    
    padding: $btn-padding;
    vertical-align: middle;
    -webkit-tap-highlight-color: transparent;
	text-decoration: none;
	background-color:$btn-bg;
    color: $btn-color;
	@include transition($duration:.5s);
	min-width:rem(160);
	text-align:center;
	font-family:$font-family;
	letter-spacing: .5px;
	cursor: pointer;

	&:hover,
	&:focus {
		background-color: $btn-bg-hover;
		color: $btn-color-hover;
		border-color: $btn-bg-hover;
		outline:none;
		border-radius:0;
	}	

	&[disabled]{
		border:1px solid $btn-disabled-bg;
		background-color: $btn-disabled-bg;
		color: $btn-disabled-color;
		&:hover,
		&:focus {
			background-color: $btn-disabled-bg-hover;
			color: $btn-disabled-color-hover;
		}
	}

	&.more{
		position:relative;
		padding-#{$right}: 20px;
		padding-#{$left}: 40px;
		padding-top:10px;
		padding-bottom:10px;
		color: inherit;
		text-align: $right;
		height:36px;
		@include breakpoint(large){
			height:44px;	
		}			
		&:after{
			font-family:FontAwesome;
			content:$arrow-dir;				
			position:absolute;
			#{$left}: 1em;
			font-size: 1.5em;
			top: 0;
			bottom: 0;
			line-height: 36px;
			@include breakpoint(large){
				line-height: 44px;	
			}				
		}
	}
	
}
.btn-default{
	background-color:$btn-default-bg;	
	color:$btn-default-color;
	&:hover,
	&:focus{
		background-color:$btn-default-bg-hover;	
		color:$btn-default-color-hover;
	}
}
.btn-secondary{
	background-color:$btn-secondary-bg;
	color:$btn-secondary-color	;
	&:hover,
	&:focus{
		background-color:$btn-secondary-bg-hover;
		color : $btn-secondary-color-hover;
	}
}
.btn-cancel{
	background-color:$btn-cancel-bg;
	color:$btn-cancel-color	;
	cursor: not-allowed;
	&:hover,
	&:focus{
		background-color:$btn-cancel-bg-hover;
		color : $btn-cancel-color-hover;
	}
}
.btn-block{
	width: 100%;
	display:block;
	text-align:#{$right};
	+ .btn-block{
		margin-top:20px;
	}
}
.btn-withicon{
	padding-#{$left}:50px;
	position:relative;
}
.btn-icon{
	padding-#{$left}: rem(40);
	background-image:url("../../images/#{$left}-arrow.svg");
	background-repeat:no-repeat;
	background-position: rem(20) center;
	background-size: 9%;
}
.input-withicon{
	position:relative;
}
