$cardHeight : 320;
$cardHeightSmall : 320;
$cardFooterHeight: 30px;
$cardImageHeight : 220px;

.v-card{
    width: auto;
    position: relative;
    .card-link{
        position: absolute;
        height: 100%;
        width: 100%;
        left:0;

    }
    .card-hover--bar{
        background-color: $primary-base;
        bottom: 0px;
        height: 3px;
        left: 45%;
        position: absolute;
        -webkit-transition-duration: 0.2s;
        transition-duration: 0.2s;
        -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        visibility: hidden;
        width: 10px;
    }
    &:hover{
        .card-hover--bar{
            left: -5%;
            width: 110%;
            visibility: visible;
        }
    }
    .card--item__img{
        height: $cardImageHeight;
        overflow: hidden;
        img{
            width: 100%;
            
        }
    }
    .card--item__text{
        padding: 8px;
        .card--text__title{
            color: $primary-base;
        }
        .card--text__address{
            color: $text-normal-color;
        }
        .card--text__size{
            color: $text-normal-color;
        }
        
    }
    .card-footer{
        height: $cardFooterHeight;
        margin: 12px 0;
        background-color: $primary-darker;
    }
    .card-footer__price{
        float: $left;
        position: relative;
        height: $cardFooterHeight;
        padding: 0 20px;
        color: $text-dark-color;
        &::after{
          content: "";
          position: absolute;
          @include skew(-30, 0);
          top: 0;
          #{$right}: -8px;
          z-index: 1; 
          background-color: $secondary-base;
          height: 100%;
          width: 100%;     
        }
        &::before{
            content: "";
            position: absolute;
            top: 0;
            #{$left}: -1px;
            z-index: 1; 
            background-color: $secondary-base;
            height: 100%;
            width: 100%;     
          }
        .price--text{
            position: relative;
            z-index: 2;
            font-weight: 700;
            height: $cardFooterHeight;
            line-height: $cardFooterHeight;
            vertical-align: middle;
        }
    }
}

.apps--card{
    min-height: 350px;
    margin: 75px -75px 25px -75px;
    background-color:  $primary-darker;
    position: relative;
    
        .apps--card__bg{
            background-image: url(/images/mobile-background.svg);
            height: 100%;
            width: 65%;
            #{$left}: 0;
            top: 0;
            position: absolute;
            z-index: 1;
            background-repeat: no-repeat;
            background-size: 100%;
        }
        .apps--card__mobile{
            background-image: url(/images/mobile.png);
            height: 100%;
            width: 50%;
            #{$left}: 45px;
            top: 0;
            position: absolute;
            z-index: 2;
            background-repeat: no-repeat;
        }
        .apps--card__header{
            padding: 60px 0 0;
            text-align: center;
            width: 45%;
            margin-bottom: 25px;

            
            .apps--card__title{
                display: inline;
                margin: 0 15px;
               
            }
            .apps--card__content{
                margin-top: 30px;
            }
        }
        .apps--card__links{
            padding: 15px 0 0;
            text-align: center;
            width: 45%;
            a{
                margin: 0 20px;
            }
        }
}
.mdl-card__link{
    width: auto;
    padding-bottom: 24px;
    padding-top: 8px; 
    .mdl-card__title{
        text-align: center;
        width: 100%;
        color: inherit;
        
        i{
            flex: 1;
        }
        
        
    }
    i{
        color:  $text-dark-color;
    }
    .mdl-header__text{
        color:  $text-dark-color;
        margin-top: -16px;
    }
    .mdl-button{
        padding: 0 35px;
    }
}
.h-card{
    width: auto;
    flex-direction: row;
    margin-bottom: 25px;
    .card-image{
        max-width: 25%;
        position: relative;
        img{
            border-radius: 2px 0 0 2px;
            max-width: 100%;
            width: auto;
            display: block;
            border-radius: 2px 2px 0 0;
            position: relative;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
        }
    }
    .card-stacked{
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1;
        position: relative;
        .card-content{
            -webkit-box-flex: 1;
            -webkit-flex-grow: 1;
            -ms-flex-positive: 1;
            flex-grow: 1;
            padding: 0 16px;
            
        }
        .card-footer{
            height: $cardFooterHeight;
            background-color: $primary-darker;
            position: absolute;
            width: 100%;
            bottom: 0;

        }
        .card-footer__price{
            float: $left;
            position: relative;
            height: $cardFooterHeight;
            padding: 0 20px;
            color: $text-dark-color;
            &::after{
              content: "";
              position: absolute;
              @include skew(-30, 0);
              top: 0;
              #{$right}: -8px;
              z-index: 1; 
              background-color: $secondary-base;
              height: 100%;
              width: 100%;     
            }
            &::before{
                content: "";
                position: absolute;
                top: 0;
                #{$left}: -1px;
                z-index: 1; 
                background-color: $secondary-base;
                height: 100%;
                width: 100%;     
              }
            .price--text{
                position: relative;
                z-index: 2;
                font-weight: 700;
                height: $cardFooterHeight;
                line-height: $cardFooterHeight;
                vertical-align: middle;
            }
        }
    }
    .card--title{
        color: $primary-base;
        margin-bottom: 0;
    }
    .card--sub-title{
        color: $text-normal-color; 
        margin-top: 8px;
    }
    .card--text{
        color: $text-normal-color;
      
    }
    .card--text__size{
        color: $text-normal-color;
    }
}
.card-label{
    position: absolute;
    font-size: 14px;
    font-weight: 700;
    padding: 12px 20px;
    &::before{
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: -1;
        top: 0;
        #{$left}: -25px;
        padding:0 15px;
        @include skew(-30, 0);
        }
        &.has-secondary-base-bg{
            &::before{
                background: $secondary-base;
            }
          
        }
        &.has-primary-base-bg{
            color: $text-color;
            &::before{
                background: $primary-base;
            }
                
        }
        &.bottom-label-left{
            bottom: 0;
            #{$left}: 0px;
        }
        &.top-label-right{
            top: 0;
            #{$right}: 0px;
            &::before{
                #{$left}: auto;
                #{$right}: -25px;
                @include skew(30, 0);
            }
        }

}
.has-actions{
    display: -webkit-box;
    text-align: center;
    .mdl-button{
        padding: 0 5px;
        font-size: 12px;
        min-width: 46%;
    }
}