$cardHeight : 320;
$cardHeightSmall : 320;
$cardFooterHeight: 30px;
$cardImageHeight : 220px;

.v-card{
    width: auto;
    .card--item__img{
        height: $cardImageHeight;
        overflow: hidden;
        img{
            width: 100%;
            
        }
    }
    .card--item__text{
        padding: 8px;
        .card--text__title{
            color: $primary-base;
        }
        .card--text__address{
            color: $text-normal-color;
        }
        .card--text__size{
            color: $text-normal-color;
        }
        
    }
    .card-footer{
        height: $cardFooterHeight;
        margin: 12px 0;
        background-color: $primary-darker;
    }
    .card-footer__price{
        float: $left;
        position: relative;
        height: $cardFooterHeight;
        padding: 0 20px;
        color: $text-dark-color;
        &::after{
          content: "";
          position: absolute;
          @include skew(-30, 0);
          top: 0;
          right: 0;
          z-index: 1; 
          background-color: $secondary-base;
          height: 100%;
          width: 100%;     
        }
        &::before{
            content: "";
            position: absolute;
            top: 0;
            #{$left}: -12px;
            z-index: 1; 
            background-color: $secondary-base;
            height: 100%;
            width: 100%;     
          }
        .price--text{
            position: relative;
            z-index: 2;
            font-weight: 700;
            height: $cardFooterHeight;
            line-height: $cardFooterHeight;
            vertical-align: middle;
        }
    }
}

.apps--card{
    min-height: 350px;
    margin: 75px -50px 25px -50px;
    background-color:  $primary-darker;
    position: relative;
        .apps--card__bg{
            background-image: url(/images/mobile-background.svg);
            height: 100%;
            width: 65%;
            #{$left}: 0;
            top: 0;
            position: absolute;
            z-index: 1;
            background-repeat: no-repeat;
            background-size: 100%;
        }
        .apps--card__mobile{
            background-image: url(/images/mobile.png);
            height: 100%;
            width: 50%;
            #{$left}: 45px;
            top: 0;
            position: absolute;
            z-index: 2;
            background-repeat: no-repeat;
        }
        .apps--card__header{
            padding: 50px 0 0;
            text-align: center;
            width: 45%;
            .apps--card__title{
            
            }
            .apps--card__logo{
            
            }
        }
}